# {{ ansible_managed }}
# Systemd properties file

# Where your java installation lives
# JAVA_HOME="/usr/lib/jvm/jre"
JAVA_HOME="{{ tomcat_java_home }}"

# You can pass some parameters to java here if you wish to
#JAVA_OPTS="-Xminf0.1 -Xmaxf0.3"
{% if tomcat_java_opts %}
JAVA_OPTS="{% for option in tomcat_java_opts %}{{ option }} {% endfor %}"
{% endif %}

# The system property java.endorsed.dirs specifies one or more directories
# that the Java runtime environment will search for such JAR files.
JAVA_ENDORSED_DIRS="{{ tomcat_install_dir }}/endorsed"

# Where your tomcat installation lives
# CATALINA_HOME="/usr/share/tomcat"
CATALINA_HOME="{{ tomcat_install_dir }}"

# Where your tomcat installation lives
# CATALINA_BASE="/usr/share/tomcat"
CATALINA_BASE="{{ tomcat_install_dir }}"

# Optional arguments to catalina
{% if tomcat_catalina_opts %}
CATALINA_OPTS="{% for option in tomcat_catalina_opts %}{{ option }} {% endfor %}"
{% endif %}

# Optional arguments to catalina for configured gc logs
{% if tomcat_gclogs_opts %}
GCLOGS_OPTS="{% for option in tomcat_gclogs_opts %}{{ option }} {% endfor %}"
{% endif %}

# Optional arguments to catalina for configuring jmxremote
{% if tomcat_jmxremote_opts %}
JMXREMOTE_OPTS="{% for option in tomcat_jmxremote_opts %}{{ option }} {% endfor %}"
{% endif %}

# System-wide tmp
# CATALINA_TMPDIR="/var/cache/tomcat/temp"
CATALINA_TMPDIR="{{ tomcat_install_dir }}/temp"

# You can change your tomcat locale here
# LANG="en_US"
LANG="{{ tomcat_lang }}"

# Run tomcat under the Java Security Manager
# SECURITY_MANAGER="false"
SECURITY_MANAGER="{{ tomcat_security_manager }}"

# Time to wait in seconds, before killing process
# TODO(stingray): does nothing, fix.
# SHUTDOWN_WAIT="30"
SHUTDOWN_WAIT="{{ tomcat_shutdown_wait }}"

# If you wish to further customize your tomcat environment,
# put your own definitions here
# (i.e. LD_LIBRARY_PATH for some jdbc drivers)
{% for key, val in tomcat_settings.iteritems() %}
{{ key | upper }}="{{ val }}"
{% endfor %}

